.homepage_hero {
  position: relative;
  overflow: hidden;
  max-width: 120rem;
  margin: 0 auto;

  &__images {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    .desktop-image, .mobile-image {
      width: 100%; height: 100%;
      background-size: cover;
    }

    .desktop-image {
      display: none;
      height: 100%;
      @include bp(Mama) {
        display: block;
      }
    }

    .mobile-image {
      display: block;
      height: 80vh;
      min-height: 300px;
      background-position: bottom right;
      @include bp(Mama) {
        display: none;
      }
    }

  }

  &__content {
    position: absolute;
    top: 50%; left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 2rem;
    @include bp(Mama) {
      padding: 0 3rem;
    }

    .wrapper {
      max-width: 18rem;
      margin: 0 auto;
      text-align: center;

      @include bp(Mama) {
        max-width: 40rem;
      }

      .hero-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 2.25rem;
        margin: 0 0 1rem !important;

        @include bp(Mama) {
          font-size: 2.875rem;
          margin: 0 0 .5rem !important;
        }
      }

      .copy_text {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 2rem;
        letter-spacing: .2px;
        color: #fff;
        margin: 0;

        @include bp(Mama) {
          font-size: 1.5rem;
          line-height: 2.5rem;
        }
      }

      .hero-button {
        display: inline-block;
        margin-top: 1.5rem;
        padding: .5rem 2.5rem;
        background: #57AD68;
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2rem;
        text-decoration: none;
        cursor: pointer;
        white-space: nowrap;
        text-transform: uppercase;
        border-radius: 2rem;
        transition: all .3s ease-in-out;

        &:hover {
          background-color: #FFF;
          color: #57AD68;
        }
      }
    }

    .wrapper.left {
      @include bp(Mama) {
        text-align: left;
        margin: 0;
      }
    }

    .wrapper.right {
      @include bp(Mama) {
        text-align: left;
        margin: 0;
        float: right;
      }
    }

  }


}
